.container {
  margin-top: 10%;
  font-family: cursive;
}

body {
  padding-top: 65px;
}

.carousel-inner {
  height: 450px;
  width: 800px;
}

.col-md-3 {
  background-color: thistle;
}

.card {
  margin: 5%;
  background-color: thistle;
  font-family: "Roboto";
}
